#img-Carrito-Compras{
    width: 60px;
    margin: 25px;
    cursor: pointer;
}

.numero{
    margin-top: 33px;
    font-size: x-large;
    color: white;
    background-color: black;
    height: 35px;
    width: 40px;
    border-radius: 20px;
    text-align: center;
}