
.Navigation{
    display: flex;
    background-color: rgb(56, 56, 56);
    height:100px;

}
.NavBar{
    height: 25px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
    font-size: x-large;
}

.NavBar a:hover{
    color: rgb(138, 69, 223);
}

.NavBar a{
    margin-left: 100px;
    text-decoration: none;
    color: white;
}

#imgLogoPagina{
    width: 70px;
    height: 60px;
    margin: 25px;
    filter: drop-shadow(0 10px 5px rgb(0, 0, 0));
}