.itemCounter{
    display: flex;
    justify-content:center;
    margin-top: 10px;
}

.quantity{
    width: 100px;
    background-color: white;
    height: 30px;
    margin: 5px;
    text-align: center;
    border-radius: 7px;
}

.boton{
    color: white;
    height: 30px;
    border: none;
    width: 30px;
    background: none;
    font-size: xx-large;
}

.advertencia{
    color: white;
    text-align: center;
    font-size: large;
}

.botonCarrito{
    color: rgb(138, 69, 223);
    width: 100px;
    height: 40px;
    background-color : transparent;
    border: 2px solid rgb(138, 69, 223);
    outline: inherit;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.3s;
}

.botonCarrito:hover {
    color: white;
    background-color: rgb(138, 69, 223);
}

.AñadirCarrito{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: none;
}
